input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/*清除Chrome input 中的focus样式*/
input, button, select, textarea {
    outline: none;
}

body {
	background-color: rgb(238,238,238);
	font-family: SimSun;
}

a {
	text-decoration: none;
}

/*-----------------------Common-setup-------------------*/

.header {
	width:100%;
	height:80px;
	background-color: rgb(72,42,92);
	position:absolute;
	top:0px;
	left:0px;
}

.central-header {
	width: 994px; /*980+14*/
	height:100%;
	margin: auto;
	position:relative;
}

.logo {
	position:absolute;
	width:120px;
	height:45px;
	/*border-radius:30px;*/
	bottom:0px;
	margin-bottom: 0px;
}

.header ul {
	display: inline-block;
	position: absolute;
	right: 0; 
	bottom:8px;
	color: white;
	margin-bottom: 0;
	padding:0;
}

.header li {
	display: inline-block;
	font-size:14px;
	margin:0 14px 0 14px;
}

.github {
	width:45px;
	height:50px;
}

.header .github {
	position: absolute;
	right: 10px;
	bottom:0px;
}



.footer-one {
	position: absolute;
	top: 1605px;
	left: 0;
	height: 35px;
	width:100%;
	background-color: black;
	color: white;
	text-align: center;
}

.nav-bottom {
	height:100%;
	margin-top:0;
}

.nav-bottom li {
	display: inline-block;
	margin-right:40px;
	position:relative;
	top: 5px;
}

.footer-two {
	position: absolute;
	top: 1641px;
	left: 0;
	height:360px;
	width:100%;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 14px;
}

.info {
	margin-top: 30px;
	display: inline-block;
	margin-right: 100px;
}

.info ul {
	padding-top: 20px;
	list-style-type: none;
	padding-left:0;
	text-align: left;
}


.info a {
	text-decoration: none;
	color: white;
}

.info a:hover {
	text-decoration: underline;
}

#logo-bottom {
	width:200px;
	position:absolute;
	bottom:0;
	left: 50%;
	margin-left: -100px;
	margin-bottom: -4px;
}



/*--------------------------index.html---------------------------------*/

.banner {
	background: url("../img/banner.png") no-repeat center center;
	background-size: cover;
	width:100%;
	height:525px;
	position:absolute;
	top:80px;
	left:0;
	display:block;
}

#content {
	background: -webkit-linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.5) 75%, rgba(255,255,255,0));
	position: absolute;
	bottom: 0;
	right:14px;
	text-align: right;
	width: 350px;
	float:right;
	padding: 10px 10px 30px 10px;
}

#content h1 {
	font-size: 14px;
}

#content p {
	font-size: 12px;
	margin-top: 12px;
	line-height: 150%;
}



.equal-height {
	position:absolute;
	top:605px;
	left:0;
	height: 480px;
	background-color: rgb(238,238,238);
	width:100%;
}

.container {
	overflow: hidden;
	margin: 10px auto;
	width:990px;
}

.container div {
	display: inline-block;
	float:left;
	width:320px;
	background-color: white;
	margin-bottom: -10000px;
	padding-bottom:10025px; /*距离白色底块下方的内边距为25px*/
	margin-right:10px;
	font-size: 12px;
}

.container p {
	margin:0 30px 0 30px;
	text-indent: 24px;
	line-height: 170%;
}

.container img {
	width: 300px;
	height: 180px;
	margin: 10px 10px 15px 10px;
}


.self-introduction {
	position:absolute;
	top:1085px;
	left: 0;
	width:100%;
	height: 520px;
/*	border:1px solid black;*/
	text-align: center;
	background-color: white;
}

.portrait {
	width: 160px;
	height: 160px;
    border-radius: 80px;
    border: 1px solid black;
	position: relative;
	top: -50px;
}

.self-introduction h1 {
/*	border: 1px solid black;*/
	position:relative;
	margin-top: 0;
	top: -4px;
	font-family: Century Gothic;
	font-size: 20px;
}

.self-introduction p {
/*	border: 1px solid black;*/
	font-size: 14px;
	width:600px;
	margin:auto;
}



/*-------------CSS for blog.html--------------*/

.blog-content {
	width:980px;
	margin:auto;
	position:relative;
	top:72px;
	left: -8px;
	border: 1px solid rgba(0,0,0,0); /*不知为何删掉border会导致位置变化；*/
	margin-top:30px;
}

.article {
	width:680px; /*710-30*/
	height:340px; /*370-30*/
	background-color: white;
	font-size:0;
	position:relative;
	padding: 15px;
	margin: 10px 10px 10px 0;
}

.article>h1 {
	font-size: 16px;
	color: #a660b7;
	line-height: 0;
}

.article h2 {
	font-size: 12px;
	color: #666;
}

.article p {
	font-size: 14px;
	text-indent: 28px;
	margin: 0px;
	line-height: 150%;
}

.index {
	width: 50px;
	height: 80px;
	position:absolute;
	top:20px;
	left:-50px;
	color: white;
}

.index-number {
	background-color: #522a5c;
	margin:0;
	height:50%;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	font-weight: normal;
	font-size: 16px;
}

.index-type {
	background-color: #a660b7;
	margin:0;
	height:50%;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	font-weight: normal;
	font-size: 16px;
}

.name-and-date {
	position:absolute;
	bottom: 15px;
	right:15px;
	color: #dddddd;
	margin:auto;
}

#page-number {
	margin: 0;
/*	border: 1px solid black;*/
	width: 710px;
	font-size: 0;
	text-align: center;
}


#page-number ul {
/*	border: 1px solid black;*/
	padding: 0;
}

#first-page, #pre-page, #next-page, #last-page {
	width: 70px !important;
}

#page-number li {
	display: inline-block;
	background-color: white;
	height:42px; /*由于要保证页边距为15，42=12+15*2*/
	width:42px;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	line-height: 42px;
/*	border: 1px solid black;*/
	margin-right: 10px;
	color: #dddddd;
}

#page-number a {
	text-decoration: none;
	display: block;
	margin:0;
	color: black;
}

#page-number a:active, .current-page {
	background-color: #522a5c;
	color: white !important; 
}


.keywords {
	width: 260px;
	height: 80px;
	background-color: white;
	position: absolute;
	top: 10px;
	right: 0;
	font-size:0;
}

.keywords form {
	margin: 20px;
	height: 40px;
	position: relative;
	font-size: 0;
}

input.search {
	width: 170px;
	height: 40px;
	border: 1px solid #dddddd;
	padding: 0 0 0 50px; /*此处padding未计入宽度*/
	font-size: 12px;
	background: url(../img/search.png) no-repeat;
}

.button {
	width: 50px;
	height: 40px;
	border: 1px solid #dddddd;
	position: absolute;
	right: 0;
	font-size: 16px;
	color: white;
	background-color: #dddddd;
	cursor: pointer;
}

.search:focus {
	border: 1px solid black;
	border-right: 0;
}

.search:focus + .button {
	border: 1px solid black;
	background-color: #888;
}

#nav-tech {
	width: 260px;
	height: 200px;
	position: absolute;
	right:0;
	top: 100px;
	font-size: 0;
}

#nav-tech p {
	width: 227px; /*260-paddingWidth-borderWidth*/
	height:50px;
	border-left:3px solid #e5d6e9;
	font-size: 14px;
	margin: 0;
	background-color: white;
	vertical-align: middle;
	line-height: 50px;
	padding-left: 30px;
	color: #666;
}

#nav-tech p:hover {
	border-left:3px solid #522a5c;
}

#date-picker {
	width:220px;
	height: 200px;
	position: absolute;
	right: 0;
	top: 310px;
	background-color: white;
	padding: 20px;
}

#year-and-month {
	text-align: center;
}

#pre-month, #next-month {
	color: #522a5c;
	font-weight: bold;
}

#current-date {
	color: #522a5c;
	font-weight: bold;
	margin: 0 65px 0 65px;
	font-size: 14px;
}

#date-picker table {
	margin: auto;
	width: 100%;
	color: #dddddd;
	margin-top: 15px;
	font-size: 0;
	border-spacing: 0;
	border-collapse: collapse;;

}

#date-picker tr {
	height: 26px;
	border-bottom: 1px solid #ddd;
	font-size: 12px;
	text-align: center;
}

#today span{
	background-color: #522a5c;
	color: white;
	padding: 2px;
}

.festival {
	color: #522a5c;
	font-weight: bold;
}



#tags {
	width:220px;
	height: 160px;
	position: absolute;
	right: 0;
	top: 560px;
	background-color: white;
	padding: 20px;
}

#tags-header {
	float: left;
	font-size: 16px;
	color: #666;
}

#tags-content {
	float: left;
	color: #522a5c;
	margin-top: 10px;
}

.size-1 {
	font-size: 24px;
	font-weight: bold;
}

.size-2 {
	font-size: 20px;
	font-weight: bold;
}

.size-3 {
	font-size: 14px;
}

.size-4 {
	font-size: 16px;
}

.size-5 {
	font-size: 15px;
}

/*-----------------style for gallery.html---------------------*/

.gallery-content {
	width:980px;
	margin:auto;
	position:relative;
	top:72px;
	left: -8px;
	border: none; /*不知为何删掉border会导致位置变化；*/
	margin-top:70px;
}

.waterfall-body {
/*	border: 1px solid black;*/
	width: 670px;
	padding: 20px 20px 0 20px; 
	font-size: 0px; /*消除block间的空白*/
	overflow: auto;
	background-color: white;
}

.waterfall-body h1 {
	font-size: 15px;
	margin-left: 50px;
}

.gallery-content li {
	font-size: 15px;
	margin-left: 50px;
}


.waterfall-body p{
	font-size: 14px;
	margin-left: 50px;
}

.waterfall-body ul {
	position: absolute;
	left: -1px;
	top: -48px;
	height: 45px;
	padding: 0;
}

.waterfall-body li{
	display: inline-block;
	text-align: center;
	border: none;
	height: 10px;
	vertical-align: middle;
	line-height: 10px;
	margin: 0;
	padding: 15px 20px 20px 20px;
	background-color: white;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#tab1-gallery {
	border-top: 3px solid #dfc6e6;
}

#tab1-gallery:hover {
	border-top: 3px solid #522a5c;
	border-bottom: none;
}

#tab2-gallery {
	border-top: 3px solid #dfc6e6;
}

#tab2-gallery:hover {
	border-top: 3px solid #522a5c;
	border-bottom:none;
}

#tab3-gallery {
	border-top: 3px solid #d2a6ff;
}

#tab3-gallery:hover {
	border-top: 3px solid #5900b2;
	border-bottom:none;
}

#tab4-gallery {
	border-top: 3px solid #ffa98c;
}

#tab4-gallery:hover {
	border-top: 3px solid #8c2300;
	border-bottom:none;
}

#tab5-gallery {
	border-top: 3px solid #ffe188;
	border-right: none;
}

#tab5-gallery:hover {
	border-top: 3px solid #d9a300;
	border-bottom:none;
}

.active-tab {
    border-top: 3px solid #522a5c !important;
    border-bottom: none !important;
}


.circle-letter {
	width: 25px;
	height: 25px;
	border-radius: 13px;
	border: 1px solid white;
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
	line-height: 25px;
	position: absolute;
	left: 10px;
	top: 13px;
	margin: 0 !important;
}

#big-card {
	margin-bottom: 10px;
	overflow: auto;
}

#big-card img {
	width: 330px;
	height: 150px;
}

#big-card .card-content {
	width:330px;
	position: relative;
	color: white;
}

.waterfall-left {
	float: left;
}

.waterfall-right {
	float: right;
}

.card {
	width: 160px;
	display: inline-block;
	margin-bottom: 10px;
}

.card img {
	width: 160px;
	height: 100px;
}

.card-content {
	position: relative;
	color: white;
}

.double-columns {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
    width: 330px;
}

.color1 {
	background-color: #d9a300;
}

.color2 {
	background-color: #522a5c;
}

.color3 {
	background-color: #8c2300;
}

.color4 {
	background-color: #5900b2;
}



.click-more {
	width: 710px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	margin-top: 10px;
	background-color: white;
}

.click-more a {
	color: #666;
	font-size: 15px;
}

#gallery-keywords {
	top: 0;
}

#rank {
	width: 260px;
	height: 240px;
	background-color: white;
	position: absolute;
	top: 90px;
	right: 0;
	font-size:0;
}

#rank h3 {
	font-size: 15px;
	margin-left: 20px;
	color: #666;
} 

#rank ol {
	padding: 0;
	margin-top: 30px;
}

#rank li {
	list-style-type: none;
	height:17px;
	margin: 15px;
	width: 100px;
	position: relative;
	left: 35px;
	counter-increment: step-counter;
	border: 1px solid #522a5c;
}

#rank p {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	background-color: #522a5c;
}

#rank li::before {
	content: counter(step-counter); 
	display: block;
	height:17px;
	width:17px;
	border-radius: 9px;
	background-color: #522a5c;
	color: white;
	text-align: center;
	position: relative;
	left: -30px;
	font-size: 14px;
}

#rank span {
	position: relative;
	left: 110px;
	font-size: 14px;
}

#rank1 {
	width: 100%;
}

#rank2 {
	width: 80%;
}

#rank3 {
	width: 60%;
}

#rank4 {
	width: 40%;
}

#rank5 {
	width: 20%;
}

#footer-one-gallery {
	top: 1105px;
}

#footer-two-gallery {
	top: 1141px;
}

/*-----------------------To Deal With Zoom Problem--------------------*/

@media screen and (max-width:980px) {
    .header .github {
        display: none;
    }

    .header, .footer-one, .footer-two, .banner, .self-introduction {
    	width: 980px;
    }


}